@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300i");
* {
  box-sizing: border-box; }
  * body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Montserrat", sans-serif; }
  * .link {
    font-weight: normal;
    font-family: inherit;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    transition: all .4s 0s ease-out; }
    * .link:hover, * .link:active {
      background: white;
      color: black; }
  * .btn {
    font-weight: normal;
    font-family: inherit;
    font-size: 1.2rem;
    padding: .2rem .7rem;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    outline: none;
    transition: all .3s 0s ease-out; }
    * .btn:hover, * .btn:active {
      cursor: pointer; }
    * .btn.btn-primary {
      background: #ef2929;
      color: #fff; }
      * .btn.btn-primary:hover, * .btn.btn-primary:active {
        background: #f35858;
        color: black; }
    * .btn.btn-secondary {
      background: #fcaf3e;
      color: black; }
      * .btn.btn-secondary:hover, * .btn.btn-secondary:active {
        background: #fb9a0c;
        color: #fff; }
    * .btn:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

.main-header {
  min-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem;
  background: #333333;
  z-index: 1; }
  .main-header .brend {
    vertical-align: middle; }
    .main-header .brend > a {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      font-size: 2rem;
      color: #19dc01;
      transition: color .3s 0s ease-out; }
      .main-header .brend > a:hover, .main-header .brend > a:active {
        color: #13a901; }
  .main-header .main-nav__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    list-style: none;
    vertical-align: middle; }

.container {
  max-width: 70rem;
  width: 100%;
  margin: auto; }

.main-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  padding-top: 4.4rem;
  background: #fff502; }
  .main-content .sidebar {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-width: 20rem;
    padding: 0;
    margin: auto;
    border: 1px solid black;
    border-top: none; }
    .main-content .sidebar .sidebar-nav {
      padding: 0; }
      .main-content .sidebar .sidebar-nav > li {
        list-style: none;
        margin-bottom: .5rem; }
        .main-content .sidebar .sidebar-nav > li > .sidebar-nav__link {
          text-decoration: none;
          font-size: 1.2rem;
          color: black; }
          .main-content .sidebar .sidebar-nav > li > .sidebar-nav__link:hover, .main-content .sidebar .sidebar-nav > li > .sidebar-nav__link:active {
            border-bottom: 1px dashed black; }
          .main-content .sidebar .sidebar-nav > li > .sidebar-nav__link.active {
            color: #19dc01;
            border-bottom: 1px solid black; }
  .main-content .main {
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    min-width: 40rem;
    padding: 0 2rem; }
    .main-content .main .article .article-head {
      font-weight: bold;
      font-family: "Montserrat", "Roboto", sans-serif;
      color: #6f0201; }
    .main-content .main .article .article-desc {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      line-height: 1.3;
      color: #888a85; }

.buttons-block {
  padding: 0;
  background: rgba(33, 33, 255, 0.5); }
  .buttons-block .buttons-block__list {
    padding: 2rem 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: none; }

.two-sides {
  width: 100%;
  margin: 0;
  background: #ad7fa8;
  padding: 2rem 0;
  text-align: center; }
  .two-sides.first-side_right .first-side {
    float: right;
    border-left: 1px solid black;
    border-right: none; }
  .two-sides .first-side,
  .two-sides .second-side {
    display: inline-block;
    max-width: 50%;
    width: 50%;
    min-height: 30rem;
    color: white; }
  .two-sides .first-side {
    float: left;
    background: #8ae234;
    border-right: 1px solid black; }
  .two-sides .second-side {
    float: right;
    background: #3465a4; }

.links-block {
  padding: 10rem 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.clearfix {
  clear: both; }

.danger {
  display: inline-block;
  margin: auto;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #fff;
  background: #df0e0e;
  border: 1px solid #f22e2e;
  border-radius: 3px; }

.alert {
  display: inline-block;
  margin: auto;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #fff;
  background: #af0b0b;
  border: 1px solid #7f0808;
  border-radius: 8px; }

.secondary {
  display: inline-block;
  margin: auto;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #fff;
  background: #fcaf3e; }

.disabled {
  display: inline-block;
  margin: auto;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #fff;
  background: gray;
  opacity: .5; }

.list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap; }
  .list .list-item {
    margin-right: .5rem;
    list-style: none; }

.list-item-red {
  color: red; }

.list-item-green {
  color: green; }

.list-item-yellow {
  color: yellow; }

.list-item-gray {
  color: gray; }

.list-item-orange {
  color: orange; }

.list-item-blue {
  color: blue; }

/*# sourceMappingURL=main.css.map */
